:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  --c-bg-white: rgb(255, 255, 255);
  --c-bg-grey: #EAEAEA;
  --c-primary: #B20C3B;
  --c-light-grey: #F6F6F6;
  --c-dark-grey: #B7B7B7;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}


a:link {
  color: white;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: rgb(160, 160, 160);
}

/* selected link */
a:active {
  color: blue;
}

html {
  padding: 0rem;
  margin: 0rem;
  width: 100vw;
  background-color: var(--c-bg-white);
  color: black;
}

h1 {
  color: var(--primary-red, #B20C3B);
  text-align: center;
  font-family: "Pirata One";
  font-size: 5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  /* 6rem */
}

h2 {
  color: black;
  font-family: PlainGermanica;
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 4.5rem */
}

.heading__number {
  color: #BDBDBD;
  font-family: "Pirata One";
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  /* 4rem */
}

h3 {
  color: var(--primary-red, #B20C3B);
  font-family: PlainGermanica;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 4.5rem */
}

body {
  width: 100%;
  margin: 0;
}


.info {
  background-color: white;
  color: var(--c-dark-grey);
  width: fit-content;
  padding: 0.5rem 1rem;
  padding-left: 2.5rem;
  border-radius: 100px 100px;
  position: relative;
  margin: 1rem 0rem;

  -webkit-box-shadow: 0px 25px 58px -21px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 25px 58px -21px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 8px 9px 0px rgba(0, 0, 0, 0.1);
}

.info::before {
  content: url('/assets/info.svg');
  vertical-align: top;
  left: 0.5rem;
  margin-right: 1.5rem;
  position: absolute;
  -webkit-box-shadow: 0px 25px 58px -21px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 25px 58px -21px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 25px 58px -21px rgba(0, 0, 0, 0.75);
}

.info--highlight {
  color: var(--c-primary);
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

section {
  margin: 10rem 0rem;
  max-width: 100vw;

}

p {
  max-width: 30rem;
  color: #000;
  font-family: "Charis SIL";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.text--light {
  color: white;
}

.comment {
  color: var(--c-dark-grey);
}

.topbar {
  display: grid;
  grid-template-columns: auto 1fr auto 1fr auto;
  width: 100vw;
  align-items: center;
  gap: 1rem;
}

.line {
  background-color: #fff;
  height: 1px;
}

img {
  box-sizing: border-box;
  max-width: 100%;
  min-width: 0;
  /* width: 100%; */
  /* Makes the image scale down to fit its container */
  height: auto;
  /* Maintains the aspect ratio of the image */
  display: block;
  /* Removes extra spacing around images */
}

/* .christophe {
  max-width: 500px;
  min-width: 300px;
} */

.header__description {
  max-width: 35rem;
}

.animated__container {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.star__anim {
  max-width: 3rem;
  background: transparent;
}

.setting__heading {
  position: relative;
  top: 5rem;
}

.setting__body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.setting__control {
  width: 100%;
  min-height: 50vh;
  display: flex;
  align-items: end;
  justify-content: center;
}

.setting__text {
  align-self: center;
  justify-self: center;
}

.control__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.control__buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  width: fit-content;

}



.typesetting__body {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem;
}

.typesetting__body .container__text {
  grid-column: 1 / span 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.container__extraviews {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  border-left: 1px solid var(--c-primary);
}

.typecase__wrapper {
  display: grid;
  grid-template-columns: 10vw 80vw 10vw;
  grid-template-rows: 3rem 90vh 3rem;
}

.typecase__container {
  /* background-color: green; */
  /* position: relative; */

  /* width: 100%; */
  max-width: 95vw;
  height: 80vh;
  height: 100%;
  /* height: 100%; */
  display: flex;
  /* display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 3rem 80vh 3rem; */
  /* place-content: center; */
  justify-content: center;
  align-items: center;
}

.typecase__wrapper>div:nth-child(1) {
  border-right: 1px dashed var(--c-dark-grey);
  border-bottom: 1px solid var(--c-dark-grey);
}

.typecase__wrapper>div:nth-child(2) {
  border-right: 1px dashed var(--c-dark-grey);
  border-bottom: 1px solid var(--c-dark-grey);
}

.typecase__wrapper>div:nth-child(3) {
  border-bottom: 1px solid var(--c-dark-grey);
  border-left: 1px dashed var(--c-dark-grey);
}

.typecase__wrapper>div:nth-child(4) {
  border-left: 1px dashed var(--c-dark-grey);
  /* writing-mode: horizontal-tb; */
  writing-mode: vertical-lr;
  transform: rotate(-180deg);
  text-align: end;
  padding: 1rem;
  color: var(--c-dark-grey);
}

.typecase__wrapper>div:nth-child(5) {
  background-color: transparent;
  /* opacity: 0.8; */
  background: repeating-linear-gradient(-45deg, var(--c-light-grey), var(--c-light-grey) 3px, transparent 3px, transparent 25px);
  animation: panBackground 2s linear infinite;
  background-size: 100% 100%;
}

@keyframes panBackground {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 35px 0;
    /* Adjust based on desired speed and direction */
  }
}


.typecase__wrapper>div:nth-child(6) {
  border-left: 1px dashed var(--c-dark-grey);
  /* padding-left: 3rem; */
}

.typecase__wrapper>div:nth-child(6) svg {
  height: 100%;
}

.typecase__wrapper>div:nth-child(7) {
  border-right: 1px dashed var(--c-dark-grey);
  border-top: 1px solid var(--c-dark-grey);
}

.typecase__wrapper>div:nth-child(8) {
  border-top: 1px solid var(--c-dark-grey);
}

.typecase__wrapper>div:nth-child(9) {
  border-left: 1px dashed var(--c-dark-grey);
  border-top: 1px solid var(--c-dark-grey);
}

.typecase {
  /* background-color: orange; */
  /* position: relative; */
  background-image: url("/assets/typecase.png");
  background-position: center;
  /* background-size: contain; */
  width: 100%;
  height: 90%;

  /* width: 70%;
  height: 90%; */

  display: grid;

  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(10, 1fr);
  /* column-gap: 0.7rem;
  row-gap: 0.3rem; */

  padding: 2rem;
  background-size: 100% 100%;
}

.typecase__item {
  grid-column: 2;
}

.cell {
  background-color: blue;
  background-image: url("/assets/type-1.jpg");
  background-size: 100% 100%;

}

.cell:nth-child(3n) {
  background-image: url("/assets/type-2.jpg");
  background-size: 100% 100%;
}

.cell:nth-child(5n) {
  background-image: url("/assets/type-3.jpg");
  background-size: 100% 100%;
}

.cell:nth-child(6n) {
  background-image: url("/assets/type-4.jpg");
  background-size: 100% 100%;
}

.cell:nth-child(7n) {
  background-image: url("/assets/type-5.jpg");
  background-size: 100% 100%;
}



.printing__body {
  height: 100vh;
  display: grid;
  grid-template-rows: 4fr 3fr;
  grid-template-columns: 1fr;
  margin: 0rem 1rem;
}


.printing__visuals {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 1rem;
  /* justify-content: end; */
}

.press__container {
  position: relative;
  align-self: center;
  justify-self: center;
  display: grid;
  /* mix-blend-mode: difference; */
}



/* .press__container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 1;
  mix-blend-mode: multiply;
  pointer-events: none;
} */

.press__anim {
  place-self: center;
  width: 80%;
  max-width: 1080px;
  z-index: 2;
  /* mix-blend-mode: multiply; */
}

.progress-bar {
  width: 0.7rem;
  height: 12rem;
  border-radius: 100px 100px;
  overflow: hidden;

  display: grid;

}

.progress-bar--space {
  background-color: var(--c-light-grey);
  width: 100%;
  height: 100%;
  grid-row: 1;
  grid-column: 1;
}

.progress-bar--fill {
  background-color: var(--c-primary);
  width: 100%;
  height: 100%;
  border-radius: 100px 100px;
  grid-row: 1;
  grid-column: 1;
  z-index: 2;
}

.printing__text {
  display: grid;
  grid-template-rows: auto auto 1fr;
  border-left: 1px dashed var(--c-dark-grey);
  border-right: 1px dashed var(--c-dark-grey);
  max-width: 35rem;
  /* align-self: center; */
  justify-self: center;
}

.printing__note {
  display: flex;
  flex-direction: column;
  justify-content: end;
  text-align: center;
  width: 100%;
  padding-bottom: 3rem;
}

.note__text {
  display: flex;
  align-items: center;
  /* width: fit-content; */
  justify-content: center;
}

.note__text svg {
  width: 3rem;
  animation: rotate 5s ease-in-out infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  20% {
    transform: rotate(-360deg);
    /* Adjust based on desired speed and direction */
  }

  100% {
    transform: rotate(-360deg);
    /* Adjust based on desired speed and direction */
  }
}

.printing__note>svg {
  width: 100%;
}




.bible__section {
  position: relative;
  background-color: var(--c-light-grey);
}

.bible__body {
  display: grid;
  grid-template-rows: auto auto auto;
  gap: 1rem;
  width: 100%;
}

.bible__animation--container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}



.bible__text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  /* padding-left: 1rem; */
}

.bible__img {
  grid-row: 1;
  /* display: flex; */
  /* justify-content: center; */
  /* gap: 3rem; */
  display: grid;
  grid-template-columns: 4fr 2fr;
  grid-template-columns: 1fr auto;

  border-top: 1px dashed var(--c-primary);
  border-bottom: 1px dashed var(--c-primary);
}

.books__container {
  display: flex;
  flex-direction: column;
  padding-left: 3rem;
  max-width: 300px;
  justify-content: space-between;
  /* height: 100%; */
  height: fit-content;
}

.books__container img {
  /* -webkit-box-shadow: 43px 0px 59px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 43px 0px 59px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 83px 0px 59px 0px rgba(0, 0, 0, 0.4); */
}

.book__anim {
  max-width: 3rem;
}

.bible__stats {
  display: flex;
  align-items: center;
}

.progress__container {
  display: flex;
  gap: 5rem;
  /* width: 10rem; */
  height: 0.5rem;
}

.progress__dot {
  background-color: var(--c-dark-grey);
  width: 0.5rem;
  height: 100%;
  border-radius: 100px 100px;
}

.progress__dot--current {
  background-color: var(--c-primary);
}


.proof__header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.proof__body {
  display: grid;
  grid-template-rows: auto auto auto;
  justify-content: center;
  background-color: transparent;
  opacity: 0.8;
  background-size: 4rem 4rem;
  background-image: repeating-linear-gradient(0deg, var(--c-dark-grey), var(--c-dark-grey) 1px, transparent 1px, transparent);
}

.proof__text {
  grid-row: 1;
  line-height: 4rem;
}

.proof__comment p {
  color: var(--c-primary);
  border-left: 1px solid var(--c-primary);
  padding-left: 1rem;
}




.building__wrapper {
  /* position: relative; */

  display: grid;
  place-content: center;
  height: 100vh;
  /* border: 1px solid gold; */
  width: 100%;
}

.building__container {
  /* position: absolute; */
  /* top: 30vh;
  left: 30vw; */
  display: grid;
  /* place-content: center; */
  /* width: auto;
  height: 300px; */
  /* width: 50%; */
  width: 100%;
  justify-content: center;
  align-items: center;

  /* border: 1px solid  var(--c-primary); */
}

.building__container>div {
  grid-row: 1;
  grid-column: 1;
  width: 100%;

  /* align-self: center;
  justify-self: center; */

}

.building__container>img {
  grid-row: 1;
  grid-column: 1;
  object-fit: contain;
  /* width: 100%; */

}

.building__text {
  grid-row: 1;
  grid-column: 1;
  padding: 1rem;

  place-self: center;
  /* border: 1px solid blue; */
  /* width: 100%; */
  height: fit-content;
  max-width: 70%;
}

.bulding__img {
  width: 100%;
  /* opacity: 0.2; */
  box-shadow: 83px 0px 59px 0px rgba(0, 0, 0, 1);

}


.mask-method {
  --x: 150px;
  --y: 50px;
  --hole-size: 10rem;
  --scale: 0.1;
  -webkit-mask-image: radial-gradient(circle calc(var(--hole-size) * var(--scale)) at var(--x) var(--y),
      transparent calc(var(--hole-size) * var(--scale)),
      black calc(var(--hole-size) * var(--scale) + 1px));
  mask-image: radial-gradient(circle calc(var(--hole-size) * var(--scale)) at var(--x) var(--y),
      transparent calc(var(--hole-size) * var(--scale)),
      black calc(var(--hole-size) * var(--scale) + 1px));
  transition: --scale 2s ease;
  width: 100%;

}

.map__body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.map__container {
  position: relative;
  background-image: url(/assets/map.webp);
  /* width: 10rem;
  height: 10rem; */
  /* min-width: 10rem; */
  width: 100%;
  max-width: 300px;
  background-size: contain;
  background-repeat: no-repeat;
  /* background-color: blue; */
  aspect-ratio: 7 / 10;
  margin: 1rem;
  /* z-index: -3; */
}

.map__plantin {
  position: absolute;
  cursor: grab;
  background-image: url(/assets/plantin-map.webp);
  background-size: contain;
  width: 3rem;
  height: 3rem;
  bottom: 40%;
  left: 25%;
}

.map__plantin::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background-color: var(--c-primary);
  border-radius: 50%;
  animation: ping 7s ease-in-out infinite both;
  z-index: 1;
}


@keyframes ping {
  0% {
    transform: scale(0.02);
    opacity: 0.8;
  }

  20% {
    transform: scale(1.2);
    opacity: 0;
  }

  25% {
    transform: scale(2.2);
    opacity: 0;
  }

  100% {
    transform: scale(2.2);
    opacity: 0;
  }
}

.map__unlock--1,
.map__unlock--2 {
  opacity: 0;
  transform: translateY(20px);
  /* Initially moved down */
  transition: opacity 0.5s ease, transform 0.5s ease;
  /* position: relative; */

}






.outro__container {
  display: flex;
  flex-direction: column;
  margin: 0rem 1rem;
  align-items: center;
  gap: 1rem;
}

.museum__comments {
  display: flex;
  width: 100%;
  justify-content: space-between;
  color: var(--c-dark-grey);
}

.visit__button {
  background-color: var(--c-primary);
  color: white;
  border-radius: 100px 100px;
  border: none;
  padding: 0.3rem 1rem 0.5rem 1rem;
  /* text-decoration: underline; */
  font-weight: 600;
  font-size: 1rem;
  margin: 1rem 0rem;
}

.visit__button:hover {
  background-color: #94042d;
}

.visit__button svg {
  margin-bottom: -3px;
  margin-left: 5px;
}






footer {
  background-color: #1D1D1B;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 3rem;
}

footer h4 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.logo__container {
  display: grid;
  place-content: center;
  margin-bottom: 3rem;
  max-width: 8rem;
  /* padding: 2rem 0rem; */
}

.footer__body {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.stay__container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.socials__container {
  display: flex;
  gap: 1rem;
}

.contact__container ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.contact__container li {

}

.contact__email{
  display: flex;
  flex-wrap: wrap;
}

.footer__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.footer__legal {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.footer__footer ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  row-gap: 0.5rem;
}

.footer__footer li {
  padding: 0.2rem 1rem;
  text-align: center;
  border-left: 1px solid white;
  border-right: 1px solid white;
}


.distribution {
  border: 1px solid white;
  overflow: hidden;
  max-height: 100vh;
  background-color: var(--c-bg-grey);
  position: relative;
  display: flex;
  flex-direction: column;
}

.section--dark::before,
.section--dark::after {
  content: '';
  position: absolute;
  opacity: 0.2;
  left: 0;
  width: 100%;
  height: 20%;
  pointer-events: none;
}

.section--dark::before {
  top: 0;
  background: linear-gradient(to bottom, rgb(80, 80, 80), transparent);
}

.section--dark::after {
  bottom: 0;
  background: linear-gradient(to top, rgb(80, 80, 80), transparent);
}

.dist__container--main {
  /* display: grid; */
  height: 100vh;
  padding: 0rem 1rem;
  /* display: flex;
  flex-direction: column; */
  display: grid;
  grid-template-rows: auto 1fr;
}

.dist__text {
  /* align-self: center; */
  justify-self: center;
  /* margin: 5rem 0rem; */
  margin-top: 5rem;
}

.dist__container--bg {
  grid-row: 1;
  grid-column: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dist__header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
  /* height: 90%; */
  /* justify-content: space-between; */
}

.dist__anims {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  row-gap: 2rem;
}

.dist__anim {
  /* border: 1px solid red; */
  align-self: center;
  justify-self: center;
  max-width: 2rem;
  opacity: 0.6;
}

.dist__footer {
  /* margin-bottom: -10%; */
  /* margin-top: -25%; */
  margin-top: -20%;
  /* top: 50vh; */
  position: relative;
  align-self: center;
}

.dist__container--fg {
  grid-row: 1;
  grid-column: 1;
  place-self: center;
  height: 100%;
}

@media (max-width: 60rem) {
  .cell:nth-child(-n+8) {
    /* background-color: red; */
    grid-column: span 2;
  }

  .cell:nth-child(n+25) {
    grid-column: span 2;
    grid-row: span 2;
  }

  .cell--special {
    position: relative;
    background-image: url("/assets/type-red.jpg") !important;
    background-color: var(--c-primary) !important;
    transition: all 0.5s ease-out;
    min-width: 5rem;
    min-height: 5rem;
    overflow: hidden;
  }

  .cell--special::before {
    content: "?";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    pointer-events: none;
    transition: all 0.5s ease-out;
    transition: opacity 0.5s ease-in-out;
    white-space: normal;
    font-size: 1rem;
    color: white;
    padding: 1rem;
  }

  .cell--special:hover {
    min-width: 15rem;
    min-height: 25rem;
    width: fit-content;
    font-weight: 400;
    min-height: 20rem;
    padding: 1rem;
  }

  .cell--special:hover::before {
    width: fit-content;
    width: fit-content;
    content: 'The typesetting process began with selecting the appropriate typeface and font size. Plantin was known for his appreciation of elegant typography and collaborated with some of the finest type designers of his time, including the renowned French punchcutter Claude Garamond. The clean and legible fonts used in Plantins books helped set a new standard for printed works.';
    opacity: 1;
    font-weight: 400;
    padding: 1rem;
  }

  .cell--special {
    position: relative;
    background-image: url("/assets/type-red.jpg") !important;
    background-color: var(--c-primary) !important;
    overflow: hidden;
    min-width: 2rem;
    transform-origin: center;
    min-height: 2rem;
    transition: all 0.5s ease-out;
  }

  .cell--special::before {
    content: "?";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    pointer-events: none;
    transition: opacity 0.5s ease-in-out;
    white-space: normal;
    font-size: 1rem;
    color: white;
    padding: 1rem;
  }

  .cell--special:hover {
    min-width: 15rem;
    min-height: 20rem;
    padding: 1rem;
  }

  .cell--special:hover::before {
    width: 80%;
    height: 80%;
    content: 'The typesetting process began with selecting the appropriate typeface and font size. Plantin was known for his appreciation of elegant typography and collaborated with some of the finest type designers of his time, including the renowned French punchcutter Claude Garamond. The clean and legible fonts used in Plantins books helped set a new standard for printed works.';
    opacity: 1;
    font-weight: 400;
  }



  .printing__body {
    grid-template-rows: 4fr 3fr;
    grid-template-columns: 1fr;
    /* background-color: darkgoldenrod; */
  }
}

@media (min-width: 60rem) {

  h2 {
    margin-left: 2rem;
  }


  .setting__body {
    display: grid;
    grid-template-columns: 3fr 4fr;
  }

  .setting__control {
    grid-column: 2;
  }

  .setting__text {
    margin-left: 2rem;
    justify-self: left;
  }





  .typesetting__body {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 1rem;
    margin-left: 2rem;
  }

  .typesetting__body .container__text {
    grid-column: 2;
    grid-row: 1;
    align-items: start;
    justify-content: center;
  }




  .typecase {
    /* background-color: orange; */
    /* width: 100%;
      height: 90%; */

    display: grid;

    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(10, 1fr);


  }

  .cell:nth-child(-n+20) {
    /* background-color: red; */
    grid-column: span 2;
  }

  .cell:nth-child(n+81) {
    grid-column: span 2;
    grid-row: span 2;
  }

  .cell--special {
    position: relative;
    background-image: url("/assets/type-red.jpg") !important;
    background-color: var(--c-primary) !important;
    overflow: hidden;
    min-width: 5rem;
    min-height: 5rem;
    transition: all 0.5s ease-out;
  }

  .cell--special::before {
    content: "?";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    pointer-events: none;
    transition: opacity 0.5s ease-in-out;
    white-space: normal;
    font-size: 1rem;
    color: white;
    padding: 1rem;
  }

  .cell--special:hover {
    min-width: 25rem;
    min-height: 25rem;
    min-height: 15rem;
    padding: 1rem;
  }

  .cell--special:hover::before {
    width: 80%;
    height: 80%;
    content: 'The typesetting process began with selecting the appropriate typeface and font size. Plantin was known for his appreciation of elegant typography and collaborated with some of the finest type designers of his time, including the renowned French punchcutter Claude Garamond. The clean and legible fonts used in Plantins books helped set a new standard for printed works.';
    opacity: 1;
    font-weight: 400;
  }



  .printing__body {
    height: 90vh;
    grid-template-columns: 4fr 35rem;
    grid-template-rows: 1fr;
  }



  .bible__body {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 1rem;
  }

  .bible__img {
    grid-row: 1;
    grid-column: 2;
    display: flex;
    justify-content: center;
    gap: 3rem;
    /* height: 100vh; */

    border-top: 1px dashed var(--c-primary);
    border-bottom: 1px dashed var(--c-primary);
  }

  .bible__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
  }

  .bible__animation--container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .books__container {
    justify-content: space-evenly;
    height: 100%;
    /* align-items: ; */
  }





  .proof__body {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr auto 1fr;
    background-color: transparent;
    opacity: 0.8;
    gap: 2rem;
  }

  .proof__text {
    grid-column: 2;
  }

  .proof__comment {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .proof__comment--1 {
    justify-content: center;
  }

  .proof__comment--2 {
    justify-content: space-evenly;
  }


  .map__body {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 1rem;
  }

  .map__container {
    align-self: center;
    justify-self: center;
    max-width: 600px;
    max-height: 90vh;
  }

  .map__text {
    padding: 0rem 4rem;
    border-left: 1px solid var(--c-primary);
  }

  .map__plantin {
    /* width: 5rem;
    height: 5rem; */
    width: 5vw;
    height: 5vw;
  }



  .outro__container {
    display: grid;
    grid-template-columns: 4fr 3fr;
    gap: 2rem;
    margin: 0rem 2rem;
  }

  .outro__text {
    align-self: center;
  }





  .footer__body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 2rem;
  }

  .contact__container {
    order: 1;
  }

  .logo__container {
    order: 2;
  }

  .stay__container {
    order: 3;
    text-align: right;
  }

  .dist__anim--container {
    display: flex;
    gap: 1rem;
    align-items: center;
  }


  .dist__anims {
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    row-gap: 2rem; */

    display: flex;
  }

  .dist__header {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
  }

  .dist__decor {
    background-color: var(--c-dark-grey);
    width: 10rem;
    height: 1px;
  }

  .dist__footer {
    margin-top: -12%;
  }
}